/* set custom font */
body {
    font-family: 'Montserrat', sans-serif !important;
    font-size: 1.2rem;
}

.gradient-fill {
    background: rgb(11,12,89);
    background: linear-gradient(0deg, rgba(11,12,89,1) 0%, rgba(7,55,99,1) 100%);
}

b {
    font-weight: 700;
}


.highlight-green {
    border-radius: 5px; background: rgba(104, 211, 145, 0.2); color: rgb(154, 230, 180); padding: 1px 5px;
}

@keyframes github-highlight {
    from {
        color: rgba(255,255,255,0.6);
    }
    to { 
        color: white;
    }
}

.github {
    color: rgba(255,255,255,0.6);
    font-size: 26px !important;
    cursor: pointer;
}

.github:hover {
    animation-name: github-highlight;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.infobox {
    background: linear-gradient(rgb(26, 32, 44), rgb(45, 55, 72))
}